<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card shadow-lg w-75">
    <div class="card-header text-dark text-center">
      <h4 class="card-title m-2">Create New Item</h4>
    </div>
    <div class="card-body">
      <%= render partial: 'form', locals: { item: @item, url: admin_items_path(@item) } %>
    </div>
    <div class="card-footer text-end">
    </div>
  </div>
</div>
