<div class="text-center">
  <h1>INVITE PEOPLE</h1>
  <p class="text-white">Scan the QR Code or use the invite URL:</p>
  <div class="bg-white d-flex justify-content-center align-items-center">
    <%= raw @qrcode_svg %>
  </div>
  <p>
  <h2>Invite URL:</h2>
  <%# Display the promoter email for debugging %>
  <%= new_client_registration_url(promoter: @promoter_email || 'default@example.com') %>
  </p>
</div>
