<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card w-75">
    <div class="card-header">
      <h4 class="card-title mb-0 text-center">Edit News Ticker</h4>
    </div>
    <%= render partial: 'form', locals: { news_ticker: @news_ticker, url: admin_news_ticker_path(@news_ticker) } %>
  </div>
</div>