<div class="container my-5">
  <!-- Banner with Navigation Arrows -->
  <%= render partial: 'client/shared/banner' %>
  <%= render partial: 'client/shared/newsticker' %>

  <!-- Winners Feedback Section with Border -->
  <div class="row mb-4">
    <div class="col">
      <div class="border border-dark rounded p-4">
        <h4 class="mb-3">Winners Feedback</h4>
        <div class="d-flex justify-content-around flex-wrap gap-3">
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="Sample Image 1" class="card-img-top rounded">
          </div>
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="Sample Image 2" class="card-img-top rounded">
          </div>
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="Sample Image 3" class="card-img-top rounded">
          </div>
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="More Images" class="card-img-top rounded">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Coming Soon Section with Border -->
  <div class="row">
    <div class="col">
      <div class="border border-dark rounded p-4">
        <h4 class="mb-3">Coming Soon</h4>
        <div class="d-flex justify-content-around flex-wrap gap-3">
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="Sample Image 1" class="card-img-top rounded">
          </div>
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="Sample Image 2" class="card-img-top rounded">
          </div>
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="Sample Image 3" class="card-img-top rounded">
          </div>
          <div class="card text-center p-3" style="width: 200px;">
            <img src="https://via.placeholder.com/150" alt="More Images" class="card-img-top rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

