<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card shadow-lg w-75">
    <div class="card-header text-dark text-center">
      <h4 class="card-title m-2">Edit Offer</h4>
    </div>
    <div class="card-body">
      <%= render partial: 'form', locals: { offer: @offer, url: admin_offer_path(@offer) } %>
    </div>
    <div class="card-footer text-end">
      <%= link_to 'Back to Offers', admin_offers_path, class: "btn btn-secondary fw-bold" %>
    </div>
  </div>
</div>