<footer class="d-flex justify-content-around align-items-center bg-light py-3 border-top">
  <a href="#" class="text-center text-decoration-none text-dark">
    <i class="bi bi-share-fill"></i><br>
    <small>Share</small>
  </a>
  <a href="#" class="text-center text-decoration-none text-dark">
    <i class="bi bi-people-fill"></i><br>
    <small>Invite</small>
  </a>
  <a href="#" class="text-center text-decoration-none text-dark">
    <i class="bi bi-gift-fill"></i><br>
    <small>Lottery</small>
  </a>
  <a href="#" class="text-center text-decoration-none text-dark">
    <i class="bi bi-shop"></i><br>
    <small>Shop</small>
  </a>
  <a href="#" class="text-center text-decoration-none text-dark">
    <i class="bi bi-person-fill"></i><br>
    <small>Me</small>
  </a>
</footer>